html {
      background-color: rgba(11, 12, 16, 0.9);
      height: 100%;
      position: relative;
}

body {
      height: 100%;
}

#landing-page {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-left: 5%;
}
#lp-bg{
      opacity: 0.1;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      background-image: url(img/bg.jpg);
      background-size: cover;
}

.typeText {
      font-family: 'Baloo Tamma 2',
            cursive;
      display: flex;
      font-size: 70px;
      line-height: 60px;
      color: #66FCF1;
      width: 90%;
      flex-wrap: wrap;
}

.typeText::after {
      content: "|";
      /* animation: blink 1s step-end infinite; */
      animation: none;
      color: #C5C6C7;
}

.showAnim.typeText::after {
      animation: blink 1s step-end infinite;
}

@keyframes blink {

      0%,
      100% {
            opacity: 1;
      }

      50% {
            opacity: 0;
      }
}

#hi {
      color: #C5C6C7;
      margin-right: 15px;
}

#name1 {
      color: #66FCF1;
}

#titles {
      color: #45A29E;
      text-transform: uppercase;
      font-size: 20px;
      font-family: 'Open Sans',
            sans-serif;
      line-height: 5px;
}

.bio {
      color: #C5C6C7;
      width: 60%;
      font-size: 18px;
      font-family: 'Open Sans',
            sans-serif;
}

.bio a {
      color: #45A29E;
      text-decoration: none;
}

.bio a:visited {
      color: #45A29E;
      text-decoration: none;
}

.bio a:hover {
      color: #C5C6C7;
      text-decoration: none;
}

#nav-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 30px;
      width: 35px;
      position: absolute;
      top: 50px;
      transition: 0.5s;
}

#nav-icon:hover {
      opacity: 0.5;
}

#nav-icon>div {
      border-bottom: 2px solid #66FCF1;
}

#smicons {
      color: #C5C6C7;
      font-size: 30px;
      margin-top: 50px;
      border-top: 1px solid #45A29E;
      width: fit-content;
      padding-top: 20px;
}

#smicons i {
      margin-right: 50px;
      opacity: 0.5;
}
#smicons a {
      color: #C5C6C7;
}

#smicons a :hover {
      color: #C5C6C7;
}